:root {
  --description-color: #444444;
  --hover-color: #0084ff;
}

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #e6e6e6;
}

html {
  height: 1000%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 20px;
  flex: 1;
  width: 100%;
  align-self: center;
  position: relative;
}

h1 {
  font-weight: 500;
  font-size: 34px;
}


/*Generations*/

.generation-ability-container {
  width: 750px;
  font-size: 28px;
  margin-top: 70px;
  scroll-margin-top: 100px;
}

#generation-iii {
  margin-top: 34px;
}

.gen-name-underline {
  background-color: black;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 20px;
}

/*Abilities*/

.ability {
  margin-bottom: 25px;
  scroll-margin-top: 100px;
}

.ability-name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.ability-description, .ability-pokemon-amt {
  font-size: 14px;
}

.ability-pokemon-amt {
  margin-bottom: 7px;
}

.ability-pokemon-amt span {
  font-weight: 500;
}

/*Search*/

.search-container {
  padding-top: 10px;
  position: relative;
}

#ability-searchbar {
  outline: none;
  border: none;
  padding: 7px;
  border-radius: 5px;
  width: 160px;
  margin-right: 5px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.clear-search-button {
  width: 17px;
  height: 17px;
  position: absolute;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 15px;
  right: 90px;
  cursor: pointer;
}

#ability-search-button {
  border-radius: 5px;
  border: none;
  color: black;
  background-color: white;
  padding: 7px;
  cursor: pointer;
}

#ability-search-button:hover {
  background-color: #0084ff;
  color: white;
}

#ability-searchbar::placeholder {
  color: rgb(75, 75, 75);
}

/*Responsiveness*/ 


@media only screen and (max-width: 1350px) {
  .generation-ability-container {
    width: 820px;
  }

}


@media only screen and (max-width: 900px) {
  .generation-ability-container {
    width: 320px;
  }

  main {
    margin-top: 80px;
  }

  .ability {
    scroll-margin-top: 85px;
  }
}