:root {
  --description-color: #444444;
  --hover-color: #0084ff;
}

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #e6e6e6;
}

html {
  height: 1000%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 20px;
  flex: 1;
  width: 100%;
  align-self: center;
  position: relative;
}

h1 {
  font-weight: 500;
  font-size: 34px;
}

/*Index*/

.generation-index {
  border-top: 2px solid black;
  position: fixed;
  left: 120px;
  top: 250px;
  height: 300px;
}

.generation-index::after {
  content: 'Index';
  position: absolute;
  top: -22px;
  font-size: 16px;
  font-weight: 500;
}

.generation-index ul li a {
  color: var(--description-color);
  text-decoration: none;
  font-size: 14px;
  transition: 0.1s;
}

.generation-index ul li a:hover {
  color: var(--hover-color);
  transition: color 0.1s;
}

/* 
.generation-index ul li {
 
} */

.generation-index ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  row-gap: 15px;
}

/*Generations*/

.generation-ability-container {
  width: 500px;
  font-size: 28px;
  margin-top: 70px;
  scroll-margin-top: 100px;
}

#generation-iii {
  margin-top: 34px;
}

.gen-name-underline {
  background-color: black;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 20px;
}

/*Abilities*/

.ability {
  margin-bottom: 25px;
  scroll-margin-top: 100px;
}

.ability-name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.ability-description, .ability-pokemon-amt {
  font-size: 14px;
}

.ability-pokemon-amt {
  margin-bottom: 7px;
}

.ability-pokemon-amt span {
  font-weight: 500;
}

/*Search*/

.search-container {
  border-top: 2px solid black;
  position: fixed;
  left: 120px;
  bottom: 200px;
  padding-top: 10px;
}

.search-container::after {
  content: 'Search';
  position: absolute;
  left: 0;
  top: -22px;
  font-size: 16px;
  font-weight: 500;
}

#ability-searchbar {
  outline: none;
  border: none;
  padding: 7px;
  border-radius: 5px;
  width: 145px;
  margin-right: 5px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.clear-search-button {
  width: 17px;
  height: 17px;
  position: absolute;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 15px;
  right: 90px;
  cursor: pointer;
}

#ability-search-button {
  border-radius: 5px;
  border: none;
  color: black;
  background-color: white;
  padding: 7px;
  cursor: pointer;
}

#ability-search-button:hover {
  background-color: #0084ff;
  color: white;
}

#ability-searchbar::placeholder {
  color: rgb(75, 75, 75);
}

/*Responsiveness*/ 

@media only screen and (max-width: 700px) {
  .generation-ability-container {
    width: 320px;
  }

  .search-container {
    top: 200px;
    border: none;
    position:unset
  }

  .search-container::after {
    content: '';
  }

  .clear-search-button {
    opacity: 0;
  }

  .generation-index {
    display: none;
  }
}