:root {
  --description-color: #444444;
  --box-color: #dddbdb;
}

/*animations*/

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(0); /* Slide into place */
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(0); /* Slide into place */
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%); /* Start off-screen to the left */
  }
  100% {
    transform: translateY(0); /* Slide into place */
  }
}

@keyframes textSlideIn {
  0% {
    transform: translateX(30%); 
    opacity: 0.1;
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  overflow-x: hidden
}

html {
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 20px;
  height: 1000px;
  flex: 1;
  width: 100%;
  align-self: center;
  position: relative;

}

.top-info-container {

  padding: 0 30px;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}

/*Sprites*/

.sprite-container {
  width: 350px;
  height: 380px;
  position: relative;
  background-color: var(--box-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  animation: slideInFromLeft 0.7s;
}

.shiny-icon {
  position: absolute;
  width: 45px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.gif-icon {
  position: absolute;
  width: 45px;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.sprite-image {
  width: 230px;
}

/*Basic info*/

.basic-info-container {
  background-color: var(--box-color);
  display: flex;
  height: 380px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  animation: slideInFromRight 0.7s;
  width: 400px;
  justify-content: center;
}

/*name and generation*/

.basic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pokemon-name {
  font-size: 40px;
}


.introduced-text {
  color: var(--description-color);
  margin-bottom: 15px;

}

.dex-number {
  color: #353535;
  margin-top: -20px;
  margin-bottom: 10px;
}


/*Types*/

.type-image {
  width: 70px;
}

.types-box {
  margin-bottom: 10px;
}

/*Measurements*/

.measurement-box {
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.measurement-box div {
  color: var(--description-color);;
}

.measurement-box h2 {
  font-size: 22px;
}

/*description*/

.flavor-text-container {
  background-color: var(--box-color);
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.24) 0px 7px 29px 0px;
  animation: slideInFromRight 0.8s;
  width: 430px;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  text-align: left;
  height: 120px;
  position: relative;
}

.flavor-text-box {
  font-size: 12px;
}

.flavor-text-container div:first-child {
  color: var(--description-color);
  position: absolute;
  top: 20px;
  font-size: 16px;
}

.flavor-text-button-list {
  justify-content: center;
  width: 40%;
  display: flex;
  align-self: center;
  margin-top: 42px;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
}

.flavor-text-button-list span {
  border: none;
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.flavor-text-button-list .active {
  background-color: black;
  transition: 0.75s background-color ease-out;
}

.text-slide-in {
  animation: textSlideIn 0.75s;
}

/*Previous & Next Pokémon*/

.next-previous-box {

  width: 100%;
  height: 40px;
  top: 90px;
  display: flex;
  justify-content: space-between;
}

.next, .previous {
  display: flex;
  margin: 0 30px;
  align-items: center;
  column-gap: 5px;
  justify-content: space-around;
  background-color: var(--box-color);
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: background-color 0.2s ease; 
  animation: slideFromTop 0.7s;
}

.next:hover, .previous:hover {
  background-color: #bfbfbf;
  transition: 0.2s;
}

.next-id, .previous-id {
  color: var(--description-color);
}

.next-id {
  margin-right: 5px;
}

.previous-id {
  margin-left: 5px;
}

/*Abilities*/

.top-right-container {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.abilities-container {
  background-color: var(--box-color);
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  animation: slideInFromRight 0.8s;
  width: 430px;
  justify-content: center;
  padding: 40px 20px;
  flex-direction: column;
  text-align: left;
  margin-top: 15px;
  position: relative;
  min-height: 130px;
}

.abilities-text-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  animation: slideInFromRight 0.7s;
  font-size: 15px;
}

.ability-name {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 10px;
}

.abilities-container span{
  color: var(--description-color);  
}

.ability-description {
  font-size: 12px;
  margin-top: 4px;
}

.hidden-ability {
  position: relative;
}

.hidden-ability .tooltip-text {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  top: -5px;
  left: 33px;
  z-index: 1;
  font-size: 12px;
  width: max-content
}

.hidden-ability:hover .tooltip-text {
  visibility: visible;
} 

/*bottom container*/

.bottom-info-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

/*Stats*/

.stats-container {
  padding: 0 20px;
  width: 430px;
  height: 380px;
  position: relative;
  background-color: var(--box-color);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  animation: slideInFromRight 0.9s;
  text-align: left;
  flex-direction: column;
}

.stats-container span {
  color: var(--description-color);
}

.stat-bars-box {
  margin-top: 20px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 7%;
}

.bar-box {
  width: 100%;
  display: flex;
  column-gap: 15px;
}

.stat-name-box {
  width: 135px;
  display: flex;
  justify-content: space-between;
}

.stat-name-box span {
  color: black;
}

.bar {
  flex: 1;
  height: 20px;
  background-color: #bfbfbf;
  border-radius: 20px;
}

.inner-bar {
  background-color: green;
  height: 20px;
  border-radius: 20px 0 0 20px;
}

.total-bar {
  background-color: rgb(33, 0, 249);
}

/*Bottom middle*/

.bottom-middle-container {

  display: flex;
  height: 380px;
  border-radius: 20px;
  flex-direction: column;
  animation: slideInFromRight 0.7s;
  width: 400px;
  justify-content: center;
  row-gap: 20px;
}

/*Evolutions*/

.evolution-container {
  padding: 0 20px;
  width: 360px;
  background-color: var(--box-color);
  height: 170px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.35) 0px 1px 19px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.evolution-container span {
  color: var(--description-color);
}

.evolution-line-box {
  display: flex;
  margin-top: 10px;
  align-self: center;
  height: 62.5%;
  width: 85%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.evolution-pokemon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7x;
  width: 80px;
  height: 80px;
} 

.evolution-pokemon-box div {
  font-size: 13px;
}

.level-up-trigger-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}

.evolution-anchor {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.evolution-anchor:hover {
  text-decoration: underline;
}

.level-up-trigger-box span {
  color: black;
  font-size: 12px;
}

.na-box {
  width: 100%;
  font-size: 32px;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Bottom Middle Section*/

.bm-bottom-container{
  width: 100%;
  height: 210px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.misc-container {
  width: 45%;
  background-color: var(--box-color);
  height: 100%;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.44) 0px 7px 29px 0px;
}

.bmb-right-container{
  width: 52%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 11.4px;
}

.gender-container, .leveling-container {
  width: 100%;
  background-color: var(--box-color);
  height: 47%;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.30) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}


.leveling-container span,
.gender-container span {
  color: var(--description-color);
  font-size: 14px;
  margin-left: 12px;
  margin-top: 12px;
}
.growth-rate-box span,
.total-xp-box span {
  font-size: 12px;
  color: black;
}

.leveling-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.gender-info-container {
  display: flex;
  width: 60%;
  height: 100%;
  align-self: center;
  justify-content: space-around;
}

.gender-stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  row-gap: 10px;
  color: black;
  margin-bottom: 20px;
}

.genderless {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  font-size: 18px;
  margin-bottom: 20px;
}

/*Misc.*/

.misc-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.misc-container span {
  color: var(--description-color);
  margin-left: 12px;
  margin-top: 12px;
  font-size: 14px;
}

.misc-info-container {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 6.5px;
}

.misc-entry-name {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 3px;
}

.misc-entry-description {
  font-size: 12px;
}

.misc-entry-box {
  width: 150px;
}